<div class="card">
    <h2>Criando Usuário</h2>
  <div class="card-body">
    <form action="/users/create" method="post" >
  <div class="mb-3">
    <label for="nome" class="form-label">Nome:</label>
    <input type="text" class="form-control" name="nome" aria-describedby="" placeholder="Digite seu Nome...">
    <div id="" class="form-text">*Dados obrigatórios</div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">E-mail:</label>
    <input type="email" class="form-control" id="" name="email" placeholder="Digite seu e-mail...">
    <div id="" class="form-text">*Dados obrigatórios</div>
  </div>
  <div class="mb-3">
    <label for="cpf" class="form-label">CPF:</label>
    <input type="text" class="form-control" name="cpf" aria-describedby="" placeholder="Digite seu CPF...">
    <div id="" class="form-text">*Dados obrigatórios </div>
  </div>
  <div class="mb-3">
    <label for="ocupacao" class="form-label">Ocupação:</label>
    <input type="text" class="form-control" name="ocupacao" aria-describedby="" placeholder="Digite sua Profissão...">
    <div id="" class="form-text">*Dados obrigatórios </div>
  </div>
  <div class="form-check">
  <input class="form-check-input" type="checkbox" name="status" value="on" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
    Ativar
  </label>
</div>
  <button type="submit" class="btn btn-primary">Cadastrar</button>
  <a class="btn btn-dark" href="/">Cancelar</a>
</form>
    
   
  </div>
</div>